.signout {
    padding: 6px 0px;
    width: 189px;
    border: 2px solid #FF685B;
    background: #ffffff;
    color: #FF685B;
    font-size: 20px;
    font-weight: 500;
    border-radius: 7px;
    cursor: pointer;
}